.containerrr {
    margin: auto;
    width: 80%;
    padding: 20px;
    margin-top: 250px;
  
    
  }
  
  .custom-form-group {
    display: block;
    margin-bottom: 30px;
    padding-right: 1000px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 130px;
    text-align: left; /* Align text within the form group to the left */
    background-color: rgb(218, 246, 226);
    border-radius: 10px;
  
  }


  .custom-form-groupp{
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left; /* Align text within the form group to the left */
   

  }
  
  .formlabel {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    color: #000;
    
  }
  
  .formInput {
    width: 200%;
    height: 15px;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 10px;
    margin: 5px;
    font-size: 14px;
   
     
  }

  .formInputTextArea{
    width: 400%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    margin-bottom: 10px;
    height: 240%;
    margin-top: 5px;
  }

  .formInputSubject{
    width: 400%;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 5px;
    padding: 13px;
  }
  
  .send{
    align-content: center;
    padding: 10px;
    width: 120px;
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(57, 169, 255);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    
  }

  .create{
    position: absolute;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  padding: 10px;
  font-size: 17px;
  margin: 70px;
  font-weight: bold;
  background-color: rgb(48, 48, 48);
  border-radius: 20px;
  border: 5px solid rgb(255, 255, 255);
  cursor: pointer;
  color: white;
  margin-top: 150px;
  }